<h3 class="main-heading">Todo list</h3>
<div class="form-container">
<form [formGroup]="taskForm">
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Enter Task" aria-label="Task" formControlName="task">
  <button class="btn btn-dark login-button save-btn" type="button" (click)="addData()">Save</button>
</div>
</form>

</div>

<div class="table-container">  
  <p class="info-text">*Drag and drop to sort between adjacent Todos</p> 
<table class=" table table-dark table-striped table-hover" >
  <thead>
    <tr>
      <th>Todo id</th>
      <th>Todo</th>
    </tr>
  </thead>
  <tbody cdkDropList  (cdkDropListDropped)="drop($event)">
    <tr class="row-box" cdkDrag  *ngFor="let todo of Todos">
      
      <td >{{todo.Taskid}}</td>
      <td>{{todo.Task}}</td>
      
    </tr>
  </tbody>
</table>
</div>
